<div class="container" *ngIf="league">
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="league.name" [disabled]="league.archived">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Modus</mat-label>
                <mat-select [(ngModel)]="league.mode">
                    <mat-option value="diff">Differenz - Punkte pro Spiel ergeben sich aus der Differenz</mat-option>
                    <mat-option value="add">Hinzufügen - Punkte pro Spiel ergeben sich aus den erreichten Siegen
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Regeln</mat-label>
                <textarea matInput cdkTextareaAutosize [(ngModel)]="league.rules" spellcheck="false"
                    [disabled]="league.archived"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>Spieler</mat-card-title>
        <mat-list>
            <mat-list-item *ngFor="let user of league.participants">
                <div class="flex-spacer">{{ user }}</div>
                <button mat-icon-button (click)="deleteUser(user)" class="hide-no-hover" *ngIf="!league.archived">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>

        <div class="new-player" *ngIf="!league.archived">
            <mat-form-field>
                <mat-label>Hinzufügen</mat-label>
                <input type="text" placeholder="Name" aria-label="Name" matInput [matAutocomplete]="auto"
                    (keyup.enter)="add()" [(ngModel)]="newUser">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of autoCompleteOptionsFiltered" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-icon-button (click)="add()">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </mat-card>

    <div class="actions">
        <ng-container *ngIf="!league.archived; else archivedActions">
            <button mat-raised-button color="primary" (click)="save()">Speichern</button>
            <button mat-raised-button (click)="abort()">Abbrechen</button>
            <span class="spacer"></span>
            <button mat-raised-button (click)="archive()" color="warn">Archivieren</button>
        </ng-container>
        <ng-template #archivedActions>
            <button mat-raised-button (click)="abort()">Zurück</button>
        </ng-template>
    </div>
</div>