:host {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
}

mat-form-field,
textarea {
    width: 100%;
}

mat-toolbar,
mat-card {
    margin-bottom: 16px;
}

.container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 24px;
}

.new-player {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;

    button:not(:last-of-type) {
        margin-right: 12px;
    }

    .spacer {
        flex: 1;
    }
}
